.property-listing-wrapper .grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Fixed 4 columns */
  gap: 20px;
  
}

.property-card {
  background: #fff;
  border-radius: 8px;
  /* box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1); */
  text-align: left;
}

.property-card img {
  width: 100%;
  border-radius: 6px;
  margin-bottom: 1rem;
}

.property-card h5 {
  margin: 0 0 0.5rem;
  font-size: 1rem;
}

.property-card .details {
  font-size: 0.85rem;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  color: #444;
}

.pagination {
  text-align: center;
  margin: 2rem 0;
  justify-content: center;
}

.pagination button {
  margin: 0 5px;
  padding: 6px 12px;
  background: #fff;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  color: #535364;
}

.pagination .active {
  background-color: #2A2A33;
  color: white;
}

.franchise-opportunities {
    width: 1200px;
    margin: auto;
    padding: 40px 0px;
}

.searchhero-searchbar {
    width: 90%;
    font-size: 14px;
    color: #2A2A33;
    font-family: 'Inter';
    border-radius: 10px;
    border: 1px solid #ddd;

    background-color: #fff;
    padding: 10px;
}

.searchFilter {
    padding: 12px;
    border: 1px solid #ddd;
    border-radius: 8px;
}

.searchfranchise-card {
    flex: 0 0 calc(25% - -20px);
    max-width: 370px;
    width: 400px;
    transition: transform 0.3s ease;
    /* box-shadow: rgba(0, 0, 0, 0.15) 0px 4px 15px; */
    border-radius: 12px !important;
}

.image-container {
  height: 185px;
    object-fit: cover;
    overflow: hidden;
    justify-content: center;
    display: flex;
}

.franchise-category {
  padding: 4px 20px;
  color: #6D758F;
  border: 1px solid #6D758F;
  font-size: 14px;
  border-radius: 20px;
}

.franchise-folloers span {
  font-size: 20px;
  color: #535364;
}

.franchise-folloers span strong {
  color: #000;
}

.bg-gradients {
  display: flex;
  padding: 4px 15px;
  background: linear-gradient(90deg, #00DB62, #0DA2FF);
  color: #fff;
  gap: 4px;
  align-items: center;
  font-size: 14px;
  border: 1px solid #fff;
  border-radius: 10px;
  font-weight: 500;
}

.send-request-btn {
  padding: 8px 15px;
  background: linear-gradient(90deg, #00DB62, #0DA2FF);
  font-size: 14px;
  font-weight: 500;
  color: #fff;
}

.message-gradients {
  display: flex;
  padding: 4px 15px;
  /* background: linear-gradient(90deg, #00DB62, #0DA2FF); */
  background-color: #0DA2FF;
  color: #fff;
  gap: 4px;
  align-items: center;
  font-size: 14px;
  border: 1px solid #fff;
  border-radius: 10px;
  font-weight: 500;
}

.links-gradients {
   display: flex;
  padding: 4px 15px;
  background-color: #E1E9EE;
  color: #535364;
  gap: 4px;
  align-items: center;
  font-size: 14px;
  border: 1px solid #fff;
  border-radius: 10px;
  font-weight: 500;
}

.franchise-details-tabs {
  padding: 4px 20px;
  border: 1px solid #CFEDFF;
  border-radius: 30px;
  font-size: 14px;
  color: #6D758F;
  font-weight: 500;
}

.button-tabs .active {
  background-color: #CFEDFF;
  border: 1px solid #CFEDFF;
}

.franchise-about-head {
  font-size: 26px;
  color: #2A2A33;
  font-weight: 600;
  margin-bottom: 20px;
}

.franchise-deatils-description {
  font-size: 16px;
  color: #2A2A33;
  font-weight: 400;
}

.label-heading {
  font-size: 14px !important;
  color: #2A2A33 !important;
  font-weight: 700 !important;
  margin-bottom: 4px !important;
}

.details-form-heading {
  background-color: #000B82;
  font-size: 20px;
  color: #fff;
  font-weight: 600;
  text-align: center;
  border-radius: 20px 20px 0px 0px !important;
}

.franchise-details-sidebar {
  border-radius: 20px !important;
}

.franchise-details-form input {
  border: 1px solid #CDCDD3;
  font-size: 14px;
  color: #898989;
  padding: 14px 12px;
}

.fs-14 {
  font-size: 14px !important;
}

@media (max-width: 567px) {
  .grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr) !important; /* Fixed 4 columns */
  gap: 20px;
  
}

.franchise-opportunities {
  width: 90%;
}
}
