.hero_section {
    background: url("../../assets/images/banner-home.svg");
    background-size: cover;
    background-position: center;
    height: 370px;
    text-align: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    
    padding: 6rem 1rem 4rem;
    text-align: center;
    position: relative;
}

.hero_section h1 {
    font-size: 46px;
    font-family: 'poppins';
    font-weight: 800;
    color: #fff;
}
.hero_section p {
    font-size: 16px;
    font-family: 'poppins';
    font-weight: 600;
    color: #fff;
}

.gap-10 {
    gap: 10px;
}

.select-button {
    padding: 10px !important;
    color: #2A2A33;
    font-family: 'Inter';
    font-size: 14px;
    border: 3px solid #fff;
    border-radius: 10px !important;
}


.hero-searchbar {
    width: 650px;
    font-size: 14px;
    color: #2A2A33;
    font-family: 'Inter';
    border-radius: 10px;
    border: none;
    padding: 0px 6px;
    background-color: #fff;
    padding: 10px;
}

@media  (max-width:567px) {
    .hero_section h1 {
        font-size: 28px;
    }
    .filter-text, .hero_section p {
        display: none !important;
    }
    
    .filter-section {
        width: 90%;
        margin: 20px auto;
    }
    
    .select-button {
        padding:14px !important;
        border-radius: 10px !important;
    } 
    
    
    .hero-searchbar {
        width: 90%;
        margin: auto;
        padding: 14px;
    }
    
    .location_enabled {
        display: none !important;
    }
    
    .next-button, .prev_button {
        padding: 2px !important;
    }
}

.apply_filter {
    font-size: 16px;
    font-family: 'poppins';
    color: #535364;
    margin-bottom: 20px;
}

.filter-select-tab {
    padding: 10px 14px;
    font-size: 14px;
    color: #535364;
}


.price-range {
    accent-color: blue;
}



