.hero_section {
    background: url("../../assets/images/banner-home.jpeg");
    background-size: cover;
    background-position: center;
    height: 370px;
    text-align: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    /* padding: 1rem 1rem 4rem; */
    text-align: center;
    position: relative;
}

.hero_section h1 {
    font-size: 46px;
    font-family: 'poppins';
    font-weight: 800;
    color: #fff;
    margin-bottom: 0px;
}
.hero_section p {
    font-size: 16px;
    font-family: 'poppins';
    font-weight: 600;
    color: #fff;
    margin: 20px 30px 30px;
}

.gap-10 {
    gap: 10px;
}

.FilterPopup {
    width: 750px !important;
    margin-top: 30px;
}

.select-button {
    padding: 10px !important;
    color: #2A2A33;
    font-family: 'Inter';
    font-size: 18px;
    border: 3px solid #fff;
    border-radius: 10px !important;
}

.Applyfilter-btn {
    background-color: #0DA2FF;
}

.hero-searchbar {
    width: 650px;
    font-size: 18px;
    color: #2A2A33;
    font-family: 'Inter';
    border-radius: 10px;
    border: none;
    padding: 0px 6px;
    background-color: #fff;
    padding: 10px;
}

@media  (max-width:567px) {
    
    .hero_section {
    background: url("../../assets/images/mobile-home.png");
    background-size: cover;
    background-position: center;
    height: 268px;
    text-align: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    padding: 1rem 1rem 4rem;
    text-align: center;
    position: relative;
}
    
    .hero_section h1 {
        font-size: 28px;
    }
    .filter-text, .hero_section p {
        display: none !important;
    }
    
    .filter-section {
        width: 90%;
        margin: 20px auto;
    }
    
    .select-button {
        padding:7px !important;
        border-radius: 10px !important;
        height: 45px;
        width: 45px;
    } 
    
    .select-button svg {
        width: 100%;
    }
    
    .hero-searchbar {
        width: 90%;
        margin: auto;
        padding: 7px;
        height: 45px;
    }
    
    .location_enabled {
        display: none !important;
    }
    
    .next-button, .prev_button {
        padding: 8px !important;
    }
    
    .FilterPopup {
        width: 100% !important;
        margin: 50px auto !important;
    }
    
    .hero_section {
        padding: 10rem 1rem 4rem !important;
    }
}

.apply_filter {
    font-size: 14px;
    font-family: 'Inter';
    color: #6D758F;
    margin-bottom: 20px;
}

.price-range-label {
   font-size: 14px;
    font-family: 'Inter';
    color: #535364;
    margin-bottom: 20px; 
}

.price-range-amt {
  background: linear-gradient(to right, #00db75, #00b4db);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}

.filter-select-tab {
    padding: 10px 14px;
    font-size: 14px;
    color: #535364;
    font-family: 'Inter';
    border: 1px solid #E1E4ED !important;
}


.price-range {
background: white;
color: #535364;
cursor: pointer;
}

.clear-all-btn {
    border: 1px solid #6D758F;
    color: #6D758F;
    font-size: 14px;
    padding: 14px 11px;
    border-radius: 6px;
    font-family: 'Inter';
    width: 91px;
}

.apply-filter-btn {
    font-size: 14px;
    padding: 14px 10px;
    border-radius: 6px;
    background-color: #0DA2FF;
    color: #fff;
    font-family: 'Inter';
    width: 91px;
    
}

.price-range {
  -webkit-appearance: none;
  height: 8px;
  border-radius: 5px;
  background: linear-gradient(to right, #00db75 0%, #00b4db 0%, #ddd 0%);
  outline: none;
  transition: background 450ms ease-in;
}

.price-range::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #fff;
  border: 2px solid #00db75;
  cursor: pointer;
  
}


