.event-card {
    height: 450px;
}

.upcoming_heading {
    font-family: 'poppins';
    font-size: 46px;
    font-weight: 700;
    color: #fff;
}

.events-buttons {
    font-family: 'Inter';
}



.upcoming-cards:hover {
    opacity: 1 !important;
}

.upcoming-cards:hover .upcomingcard-text, .upcoming-cards:hover .upcoming-event-title {
    /* color: #000 !important; */
}

/* .upcoming-cards:hover .upcoming-image {
    opacity: 0.6;
} */
 
@media(max-width: 567px) {
    .upcoming_header {
        flex-direction: column;
        text-align: center;
    }
    
    .upcoming_heading {
        font-size: 28px;
        margin-bottom: 20px;
    }
}

.leading-tight {
    font-size: 20px !important;
    color: #fff;
}

.event-image-container::after {
    content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 255, 0.6);
}

.event-image-container::after:hover {
    background: none;
}