.franchise-slider {
  padding: 30px 40px;
  background: linear-gradient(to right,
  #E3F7FF 0%,
  #E3F7FF 40%,
  rgba(227, 247, 255, 0) 50%,
  rgba(255, 255, 255, 0) 50%,
  #FFFFFF 60%,
  #FFFFFF 100%);
  font-family: 'Inter', sans-serif;
}

.buy-heading {
    font-size: 20px;
  font-weight: 700;
  margin-bottom: 4px;
  color: #2A2A33;
  font-family: 'poppins';
}

.subtext {
  font-size: 14px;
  color: #535364;
  margin-bottom: 10px;
  font-family: 'Inter';
}



.franchise-name {
  font-weight: 600;
  font-size: 16px;
  color: #2A2A33;
  margin-bottom: 4px;
  font-family: 'poppins';
}

.franchise-description {
  font-size: 12px;
  color: #535364;
  margin-bottom: 16px;
  line-height: 1.4;
  font-family: "Inter";
}



.franchise-meta td {
  padding: 2px !important;
}



.franchise-meta div {
  display: flex;
  align-items: center;
  gap: 4px;
  font-weight: 700;
  font-size: 16px;
}

.card-stats {
    position: relative;
    bottom: 0px;
}

.card-image {
    width: 60%;
    margin: 0px auto;
    height: 100px;
    display: flex;
}

.image-card {
    width: 100%;
}

.stats-content {
    font-weight: 700;
    font-size: 14px !important;
    color: #2A2A33;
    display: flex;
    align-items: center;
    font-family: "poppins";
}

.slider-button {
  background: #ffffff;
  border: 1px solid #d1d5db;
  border-radius: 50%;
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background 0.2s;
}

.slider-button:hover {
  background: #f3f4f6;
}

.browse-button {
   position: relative;
  padding: 12px 24px;
  font-size: 16px;
  color: #000;
  background-color: #fff;
  border: none;
  cursor: pointer;
  z-index: 0;
  border-radius: 8px;
  overflow: hidden;
}

.browse-button::before {
    content: "";
  position: absolute;
  inset: 0;
  padding: 2px; /* Border width */
  background: linear-gradient(90deg, #0DA2FF, #00DB62);
  border-radius: inherit;
  -webkit-mask: 
    linear-gradient(#fff 0 0) content-box, 
    linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  z-index: -1;
}

.right-arrow {
    color: #00DB62;
    margin-left: 10px;
}

.unique_code {
  font-family: 'Inter';
  font-size: 10px;
}

.slider-container {
  display: flex;
  overflow-x: auto;
  scroll-behavior: smooth;
  gap: 20px;
  padding-bottom: 20px;
  scrollbar-width: none; /* Firefox */
  margin-top: 50px;
}
.slider-container::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
}

.franchise-card {
  flex: 0 0 calc(25% - -20px); /* Show 3.5 cards on desktop */
  max-width: 400px;
  width: 400px;
  transition: transform 0.3s ease;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 4px 15px;
  border-radius: 12px !important;
}

@media (max-width: 567px) {
  
  .franchise-slider {
    padding: 30px 10px !important
  }
  
}

@media (max-width: 768px) {
  .franchise-card {
    flex: 0 0 85%;
  }
  
  .arrow-buttons {
    display: none !important;
  }
  
  .next-button .prev_button {
    top: -25px !important;
  }
}



.card:hover {
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
}

.arrow-buttons {
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  margin-bottom: -50px;
}

/* .prev_button,
.next-button {
  border: none;
  background: white;
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
  border-radius: 50%;
  width: 40px;
  height: 40px;
  font-size: 20px;
  color: #333;
  cursor: pointer;
} */
 


