.Funding-Heading {
    width: 90%;
    color: #2A2A33;
    font-family: 'poppins';
    font-size: 36px;
    font-weight: 700;
}

.funding_description {
    font-family: 'Inter';
    font-weight: 400;
    color: #0D0D0D;
    font-size: 18px;
    line-height: 35px;
    width: 90%;
}

@media (max-width: 567px) {
    .function-cards div {
        flex-direction: column-reverse;
        text-align: center;
    }
    
    .Funding-Heading {
        font-size: 28px;
        font-weight: 700;
    }
    
    .funding_description {
        font-size: 16px;
        width: 100%;
    }
}