
@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import "tailwindcss";



.Inner-section {
    max-width: 1400px;
    margin: auto;
    justify-content: flex-start;
}

.gap-10 {
    gap: 10px;
    align-items: center;
}

h3 {
    font-family: "poppins";
    font-size: 24px;
    color: #6D758F;
}
h4 {
    font-family: "poppins";
    font-size: 20px;
    color: #6D758F;
}

h5{
    font-family: 'poppins';
    font-size: 16px;
    color: #2A2A33;
}

p {
    font-family: "Inter";
}

.Browse_section {
    margin: 5px 0px 30px !important;
}

.prev_button {
    top: -70px;
    z-index: 10; 
    border: 1px solid rgb(138, 138, 138);
    padding: 8px;
    border-radius: 50%;
    position: absolute;
    width: 36px;
    height: 36px;
    right: 50px;
}

.next-button {
    top: -70px;
    z-index: 10; 
    border: 1px solid rgb(132, 132, 132);
    padding: 9px;
    border-radius: 50%;
    position: absolute;
    width: 36px;
    height: 36px;
    right: 0px;
}

@media (max-width: 567px) {
   .slider-container {
    margin-top: 0px !important;
  }
  
  .next-button,  .prev_button {
    top: -25px !important;
  }
}